{% extends 'base.html' %}
{% block content %}
{% load static %}

<!---create_item.html-->
<h2>1  </h2>



<div class="container-fluid">
    <!-- تبدأ الهيدر -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->
  
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <!-- ***** Logo Start ***** -->
              <a href="{% url 'mainpage' %}" class="logo">
                <img src="{% static 'images/logo.png' %}">
              </a>
              <!-- ***** Logo End ***** -->
              <!-- ***** Menu Start ***** -->
              <ul class="nav">
                <li class="scroll-to-section"><a href="{% url 'mainpage' %}" class="fs-4 active">الصفحة الرئيسية</a></li>
                <li class="scroll-to-section"><a class="fs-4" href="{% url 'explore' %}">استكشف عقاراتنا</a></li>
                {% if user.is_authenticated %}
                <li class="scroll-to-section">
                    <a  class="fs-4" href="{% url 'logout' %}">تسجيل خروج</a>
                </li>
            {% else %}
                <li class="scroll-to-section">
                    <a  class="fs-4" href="{% url 'login' %}">تسجيل دخول</a>
                </li>
            {% endif %}
  
                <li class="scroll-to-section"><div class="main-red-button-hover"><a href="#subscribe">تواصل معنا الان</a></div></li> 
              </ul>        
              <a class='menu-trigger'>
                  <span>Menu</span>
              </a>
              <!-- ***** Menu End ***** -->
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- ***** Header Area End ***** -->
  

  
    <div id="services" class="our-services section">
      <div class="services-right-dec">
  
        <img src="{%static 'images/services-right-dec.png' %}" alt="">
  
      </div>
      <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
              <div class="section-heading">
                <h2>  <span>اضف وحدتك السكنية </span></h2>
                <span>  اضف وحدتك السكنية</span>
              </div>
            </div>
          </div>
        <form dir="rtl"  method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <!-- حقل اسم العنصر -->
            <div class="form-group">
                <label for="id_name_item" style="color: #ff695f; font-weight: bold; font-size: larger;" > نوع الوحدة</label>
                <input type="text" id="id_name_item" name="name_item" class="form-control" value="{{ form.name_item.value }}" required>
            </div>
            <br />

            <!-- حقل الوصف -->
            <div class="form-group">
                <label for="id_description" style="color: #ff695f; font-weight: bold; font-size: larger;">اوسف الوحده وصف جيد</label>
                <textarea id="id_description" name="description" class="form-control">{{ form.description.value }}</textarea required>
            </div>
            <br />

            <!-- حقل الصورة -->
            <div class="form-group">
                <label for="id_image " style="color: #ff695f; font-weight: bold; font-size: larger;">صورة عامة للوحده</label>
                <br />
                <input type="file" id="id_image" name="image" class="form-control-file" required>
            </div>
            <br />

            <!-- حقل الفيديو -->
            <div class="form-group">
                <label for="id_video" style="color: #ff695f; font-weight: bold; font-size: larger;">تحميل فديو</label>
                <br />

                <input type="file" id="id_video" name="video" class="form-control-file" required>
            </div>
            <br />
            <!-- الحقول العددية -->
            <div class="form-group">
                <label for="id_area_in_meters" style="color: #ff695f; font-weight: bold; font-size: larger;"> مساحة بالمتر مربع</label>
                <input type="number" id="id_area_in_meters" name="area_in_meters" class="form-control" value="{{ form.area_in_meters.value }}" required>
            </div>
            <br />
            <div class="form-group">
                <label for="id_room" style="color: #ff695f; font-weight: bold; font-size: larger;">عدد الفرف</label>
                <input type="number" id="id_room" name="room" class="form-control" value="{{ form.room.value }}" required>
            </div>
            <br />
            <div class="form-group">
                <label for="id_kitchen" style="color: #ff695f; font-weight: bold; font-size: larger;">عدد المطابخ</label>
                <input type="number" id="id_kitchen" name="kitchen" class="form-control" value="{{ form.kitchen.value }}" required>
            </div>
            <br />
            <div class="form-group">
                <label for="id_bathroom" style="color: #ff695f; font-weight: bold; font-size: larger;">عدد الحمامات</label>
                <input type="number" id="id_bathroom" name="bathroom" class="form-control" value="{{ form.bathroom.value }}" required>
            </div>
            <br />
            <div class="form-group">
                <label for="id_hall" style="color: #ff695f; font-weight: bold; font-size: larger;"> عدد الصالات</label>
                <input type="number" id="id_hall" name="hall" class="form-control" value="{{ form.hall.value }}" required>
            </div>
            <br />
            <div class="form-group">
                <label for="id_Plakona" style="color: #ff695f; font-weight: bold; font-size: larger;">عدد البلاكونات</label>
                <input type="number" id="id_Plakona" name="Plakona" class="form-control" value="{{ form.Plakona.value }}" required>
            </div>
            <br />
            <!-- رفع صور إضافية -->
            <p class="upload-title" style="color: #ff695f; font-weight: bold; font-size: larger;"> ارفع عده صور للوحدة</p>
            <input type="file" name="additional_images" multiple class="form-control-file" required>

            <br />
            <!-- زر الإرسال -->
             <div style="margin-top: 10px; ">
                <button style="background-color: #ff695f; color: white; font-size: larger;"   type="submit" class="btn"> اضافة الوحدة</button>
             </div>

        </form>
      </div>
    </div>
  
  
    <div class="footer-dec">
      <img src="{% static 'images/footer-dec.png' %}" alt="">
    </div>
  
    <!-- تنتهي البانر -->
  
  </div>
  
  
{% endblock %}